@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Raleway", sans-serif;
}
body {
  min-height: 100svh;
  max-width: 100rem;
  margin: auto;
  border: 1px solid lightgray;
}
header {
  padding: 1rem;
  background-color: aquamarine;
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
header nav {
  display: flex;
  gap: 2rem;
}
.form {
  width: 600px;
  padding: 16px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.form label, .form input {
  width: 100%;
}

.form input {
  font-size: 20px;
}
.job {
  padding: 1rem;
}
.todoapp {
  width: 40rem;
  border: 1px solid lightgray;
  margin: auto;
 
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid lightgray;
  padding: 1rem;
}
input {
  width: 40rem;
  padding: .5rem;
}
.form-addtodo {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  gap: .25rem;
  padding-top: 1rem;
  padding-inline: 1rem;
}
.todo-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}
.todo-item {
  display: flex;
  padding-bottom: .5rem;
  gap: .25rem;
}
button {
  width: 5rem;
}